<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- For MOBILE -->
    <title>Finish a Job</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag 'sidebar' %>

  </head>

  <body>

<div class="container">
	<div class="row">
    <div class="col-md-12">
		<h1>All finished jobs:</h1>
        <div class="table-responsive">
			<table id="jobs_table" class="table table-bordred table-striped">
              <thead>
                <th>Job Type</th>
                <th>Teenager name</th>
                <th>Job description</th>
                <th>Job start time</th>
                <th>Job end time</th>
                <th>Finish time</th>
              </thead>
              <tbody>
              	<% @finished_jobs.each do |fin| %>
					<tr>
						<% the_job = Job.find(fin.job_id) %>
						<td><%= JobType.find(fin.job.job_type_id).name %>:</td>
						<td><%= fin.teenager.firstname %> <%= fin.teenager.lastname %></td>
						<td><%= the_job.description %></td>
						<td><%= the_job.starttime %></td>
						<td><%= the_job.finishtime %></td>  
						<td><%= fin.finish_time %></td>
						
				</tr>
				<% end %> 
              </tbody>
            </table>

						<div class="clearfix"></div>

						<div class="pagination-container">
	        		<nav>
	        			<ul class="pagination pull-right"></ul>
	        		</nav>
	      	  </div>

						<script>
	            var table = '#jobs_table'
	            $('#jobs_maxRows').on('change', function () {
	              $('.pagination').html('')
	              var trnum = 0
	              var maxRows = parseInt($(this).val())
	              var totalRows = $(table + ' tbody tr').length
	              $(table + ' tr:gt(0)').each(function () {
	                trnum++
	                if (trnum > maxRows) {
	                  $(this).hide()
	                }
	                if (trnum <= maxRows) {
	                  $(this).show()
	                }
	              })
	              if (totalRows > maxRows) {
	                var pagenum = Math.ceil(totalRows / maxRows)
	                for (var i = 1; i <= pagenum;) {
	                  $('.pagination').append('<li data-page="' + i + '">\<span>' + i++ + '<span class="sr-only">(current)</span></span>\</li>').show()
	                }
	              }
	              $('.pagination li:first-child').addClass('active')
	              $('.pagination li').on('click', function () {
	                var pagenum = $(this).attr('data-page')
	                var trIndex = 0;
	                $('.pagination li').removeClass('active')
	                $(this).addClass('active')
	                $(table + ' tr:gt(0)').each(function () {
	                  trIndex++
	                  if (trIndex > (maxRows * pagenum) || trIndex <= ((maxRows * pagenum) - maxRows)) {
	                    $(this).hide()
	                  } else {
	                    $(this).show()
	                  }
	                })
	              })
	            })

	            $(function () {
	              $('table tr:eq(0)').prepend('<th>ID</th>')
	              var id = 0;
	              $('table tr:gt(0)').each(function () {
	                id++
	                $(this).prepend('<td>' + id + '</td>')
	              })
	            })
	            $('#jobs_maxRows').trigger("change");
	          </script>

          </div>

        </div>
	   </div>
  </div>


<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
      </div>
          <div class="modal-body">
          <div class="form-group">
        <input class="form-control " type="text" placeholder="Mohsin">
        </div>
        <div class="form-group">

        <input class="form-control " type="text" placeholder="Irshad">
        </div>
        <div class="form-group">
        <textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>


        </div>
      </div>
          <div class="modal-footer ">
        <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
      </div>
        </div>
    <!-- /.modal-content -->
  </div>
      <!-- /.modal-dialog -->
    </div>



    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
      </div>
          <div class="modal-body">

       <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

      </div>
        <div class="modal-footer ">
        <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
      </div>
        </div>
    <!-- /.modal-content -->
  </div>
      <!-- /.modal-dialog -->
</div>








    <% if user_signed_in? %>
      <%= render :partial => "template/nav/usermenu" %>
    <% else %>
      <%= render :partial => "template/nav/defaultmenu" %>
    <% end %>

  </body>

  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'sidebar' %>

</html>

