<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- For MOBILE -->
<title>My Jobs</title>

<!-- IMPORTANT ONLY WORKS FOR version < 3.3.1 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<%= stylesheet_link_tag 'sidebar' %>
<%= stylesheet_link_tag 'profile' %>
</head>

<body>
	<div class="container" style="padding-top:55px;">
	 	<div class="well profile">
	 	<div class="col-md-12 divider text-center"></div>
	    	<div class="col-md-12" style="padding-top: 10px">
				<% if(@user.usertype == 1) %>
					<h1>Do you want to confirm that the teenager has completed the job?</h1>
	          	<% end %>
	          	<div class="col-md-6 text-center">

				<%= form_for(:finished_job, :url => {action: "create"}, local: true) do |form| %>
				
				<div class="col-md-4"></div>
				<div class="col-md-8 text-left divider">
				  Job type: <%= @job_type %><br />
				</div>
				<div class="col-md-4"></div>
				<div class="col-md-8 text-left divider">
				  Job description: <%= @job.description %><br />
				</div>
				<div class="col-md-4"></div>
				<div class="col-md-8 text-left divider">
				  <% if(@user.usertype == 1) %>Teenager name: <%= @teenager.firstname %> <%= @teenager.lastname %>
				  <% elsif(@user.usertype == 0) %>Client name: <%= @client.firstname %> <%= @client.lastname %><% end %>
				</div>
				    <%= form.hidden_field :finished_job_id, :value => params[:finished_job] %>
				  	<!-- :finished_job_id is actually the apply_job_id that is finished -->
				<div class="col-md-4"></div>
				<div class="col-md-8 text-left divider">
					
					<% if(@user.usertype == 1) %> 
						<%= form.label :teens_rating %>
						<%= form.number_field :teens_rating, max: 5, min: 0, step: 0.5 %>
					<% elsif(@user.usertype == 0) %>
						<%= form.label :clients_rating %>
						<%= form.number_field :clients_rating, max: 5, min: 0, step: 0.5 %>
					<% end %>
					<span class="glyphicon glyphicon-star">
					<span class="glyphicon glyphicon-star">
					<span class="glyphicon glyphicon-star">
					<span class="glyphicon glyphicon-star">
					<span class="glyphicon glyphicon-star">
					</span>
				</div>
				  <div class="col-md-4"></div>
				  <div class="col-md-3 divider">
				    <button class="btn btn-success btn-block">Confirm</button>
				  </div>
				<% end %>
	          	</div>

	     		<div class="col-md-3 text-center">

		     		
	        	</div>
	        	<div class="col-md-3 text-center">

		        	

	        	</div>
	    	</div>
		 </div>
	</div>

<!-- enclosing tags -->


<% if user_signed_in? %>
  <%= render :partial => "template/nav/usermenu" %>
<% else %>
  <%= render :partial => "template/nav/defaultmenu" %>
<% end %>


</body>
<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'bootstrap.min' %>
<%= javascript_include_tag 'sidebar' %>
</html>

