<div class="mainbody container-fluid">
    <div class="row">

        <div style="padding-top:2px;"> </div>

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="panel-title pull-left" style="font-size:40px;"><%= @this_teenager.firstname %> <%= @this_teenager.lastname %>
                        <small>(<%= @this_user.username %>) DEBUG </small>
                    </h1>
                    <span class="pull-right">
                        <div class="well well-sm">
                            <div class="row">

                                <div class="col-xs-18 col-md-12 text-center">

                                    <h1 class="rating-num">
                                        4.0</h1>
                                    <div class="rating">
                                        <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                        </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                        </span><span class="glyphicon glyphicon-star-empty"></span>
                                    </div>
                                    <div>
                                        <span class="glyphicon glyphicon-user"></span>### total
                                    </div>
                                </div>
                            </div>
                        </div>

                    </span>
                    <br><br><br><br><br><br>
                    <span class="pull-left">
                        <div class="btn btn-link" data-toggle="modal" data-target="#endorseModal" style="text-decoration:none;"><i class="fa fa-check-square-o" aria-hidden="true"></i> Endorse</div>
                        <div class="btn btn-link" data-toggle="modal" data-target="#endorsementModal" style="text-decoration:none;"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Endorsements <span class="badge"><%= @end_count %></span></div>
                    </span>

                </div>
            </div>
            <hr>


            <!-- Upcoming Jobs -->
            <div class="panel panel-default">                        
                <span class="pull-right"> 
                    <div class="btn btn-link" style="text-decoration:none;">

                            <i class="fa fa-address-card-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom"></i>

                    </div>
                </span>
                <div class="panel-body">
                    <h4><strong>Upcoming Jobs</strong></h4>

                    <hr>
                    <div class="post-content">
                        <% if @jobs %>
                            <% @jobs.each do |job| %>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <h4><strong>Job 1</strong> – <small><small><i><i class="fa fa-clock-o" aria-hidden="true"></i><%= job.starttime %></i></small></small></h4>
                                            <hr>
                                            <div class="post-content">
                                                <%= job.description %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>

            <!-- Recent Transactions -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4><strong>Recent Transactions</strong> – <small><small><i><i class="fa fa-clock-o" aria-hidden="true"></i> 42 minutes ago</i></small></small></h4>
                    <hr>
                    <!-- Transaction -->
                    <div class="post-content">
                        <p>Transaction 1</p>
                        <p>Brief Info....</p>
                    </div>
                    <div>
                        <div class="pull-right btn-group-xs">
                            <div class="btn btn-default btn-xs"><i class="fa fa-info-circle" aria-hidden="true"></i> More info...</div>
                        </div><br>
                    </div>
                    <hr>
                    <!-- Transaction -->                   
                    <div class="post-content">
                        <p>Transaction 1</p>
                        <p>Brief Info....</p>
                    </div>
                    <div>
                        <div class="pull-right btn-group-xs">
                            <div class="btn btn-default btn-xs"><i class="fa fa-info-circle" aria-hidden="true"></i> More info...</div>
                        </div><br>
                    </div>
                    <hr>
                    <!-- Transaction -->
                    <div class="post-content">
                        <p>Transaction 1</p>
                        <p>Brief Info....</p>
                    </div>
                    <div>
                        <div class="pull-right btn-group-xs">
                            <div class="btn btn-default btn-xs"><i class="fa fa-info-circle" aria-hidden="true"></i> More info...</div>
                        </div><br>
                    </div>
                    <hr>
                </div>
            </div>
        </div>




        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            <img class="thumbnail img-responsive" src="https://res.cloudinary.com/closebrace/image/upload/w_400/v1491315007/usericon_id76rb.png" width="300px" height="300px">
                        </div>
                        <div class="media-body">
                            <hr>                
                            <p>Usertype: Teenager </p>
                            <p>Gender: <%= @this_teenager.gender%></p>
                            <p>Birthday (mm/dd/yyyy): <%= @this_teenager.birth_month %>/<%= @this_teenager.birth_day %>/<%= @this_teenager.birth_year %></p>
                            <hr>
                            <span class="pull-right"> 
                            </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

