<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Transaction board</h4>

      <div class="table-responsive">
        <% if @transactions.nil? %>
          <strong>No transactions found</strong>
        <% elsif Array(@transactions).count == 0 %>
          <strong>No transactions found</strong>
        <% else %>
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th>Date</th>
              <th>Client</th>
              <th>Teenager</th>
              <th>Job</th>
              <th>Payment</th>
              <th>Amount</th>
              <th>Status</th>
            </thead>
            <tbody>
              <% Array(@transactions).each do |transaction| %>
                <tr>
                  <td><%= transaction.trans_date %></td>
                  <% client_lname = Client.find(transaction.client_id).lName %>
                  <% client_fname = Client.find(transaction.client_id).fName %>
                  <% client_lname ||= "N/A" %>
                  <% client_fname ||= "N/A" %>
                  <% client_name = client_lname + ", " + client_fname %>
                  <td><%= client_name %></td>
                  <% if transaction.teenager_id == nil %>
                    <td>Error: teenager_id==nil, name cannot be retrieved</td>
                  <% else %>
                    <% teen_lname = Teenager.find(transaction.teenager_id).lastname %>
                    <% teen_fname = Teenager.find(transaction.teenager_id).firstname %>
                    <% teen_lname ||= "N/A" %>
                    <% teen_fname ||= "N/A" %>
                    <% teen_name = teen_lname + ", " + teen_fname %>
                    <td><%= teen_name %></td>
                  <% end %>
                  <td><%= JobType.find(transaction.job.job_type_id).name %></td>
                  <td>TBD</td>
                  <td><%= transaction.amount %></td>
                  <td><%= transaction.status %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <div class="clearfix"></div>
          <ul class="pagination pull-right">
            <li class="disabled">
              <a href="#">
                <span class="glyphicon glyphicon-chevron-left"></span></a>
            </li>
            <li class="active">
              <a href="#">1</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#">4</a>
            </li>
            <li>
              <a href="#">5</a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-chevron-right"></span></a>
            </li>
          </ul>
        <% end %>
      </div>


    </div>
  </div>
</div>
