<body>
  <div class="container" style="padding-top:55px;">
    <div class="well profile">
      <div class="col-md-12 col-md-offset-2">
          <div class="col-md-12 divider text-center"></div>
	    	  <div class="col-md-12" style="padding-top: 10px">
            <div class="col-md-6 text-left">
    					<p><strong>Transaction ID: </strong><%= @transaction.id %></p>
    					<p>Job Type: <%= JobType.find(@transaction.job.job_type_id).name %></p>
    					<p>Description: <%= @transaction.job.description %></p>
              <% client_lname = Client.find(@transaction.client_id).lName %>
              <% client_fname = Client.find(@transaction.client_id).fName %>
              <% client_lname ||= "NoLastname" %>
              <% client_fname ||= "NoFirstname" %>
              <% client_name = client_lname + ", " + client_fname %>
              <p>Client: <%= client_name %></p>
              <% teen_lname = Teenager.find(@transaction.teenager_id).lastname %>
              <% teen_fname = Teenager.find(@transaction.teenager_id).firstname %>
              <% teen_lname ||= "NoLastname" %>
              <% teen_fname ||= "NoFirstname" %>
              <% teen_name = teen_lname + ", " + teen_fname %>
              <p>Teenager: <%= teen_name %></p>
    					<p>Transaction Date (mm/dd/yyyy): <%= @transaction.trans_date%></p>
    					<p>Amount: <%= number_to_currency(@transaction.amount) %></p>
    					<p>Status: <%= @transaction.status%></p>
            </div>
	    	  </div>

	    	  <div class="col-md-12 divider text-center">
            <row>
	        		<div class="col-md-1 emphasis" style="padding: 5px">
	        			<%= link_to(user_transactions_path(current_user.id, @type.id)) do %>
	        				<button type="button" class="btn btn-primary btn-block"><span class="fa fa-list-ul"></span></button>
	        			<% end %>
	        		</div>
	        	</row>
	        </div>
        </div>
	   </div>
  </div>
</body>

<!-- enclosing tags -->
