<p>
  <strong>Transaction ID:</strong>
  <%= @transaction.id %>
</p>
<p>
  <strong>Teenager ID:</strong>
  <%= @transaction.teenager_id %>
</p>
<p>
  <strong>Client ID:</strong>
  <%= @transaction.client_id %>
</p>
<p>
  <strong>Job ID:</strong>
  <%= @transaction.job_id %>
</p>
 
<%= link_to 'Back', transactions_path %>