<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- For MOBILE -->
<title>Profile</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<%= stylesheet_link_tag 'profile' %>
<%= stylesheet_link_tag 'sidebar' %>
<%= stylesheet_link_tag 'modal_endorse' %>
</head>

<body>

<% if user_signed_in? %>

  
<%= render :partial => "template/profile/this_teen_profile" %>
<%= render :partial => "template/nav/usermenu" %>
<%= render :partial => "template/modal/endorse" %> 




<% else %>

<%= render :partial => "template/profile/this_teen_profile" %>
<%= render :partial => "template/nav/defaultmenu" %>

<% end %>

<%= render :partial => "template/modal/endorsement" %> 
</body>


<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'bootstrap.min' %>
<%= javascript_include_tag 'sidebar' %>
<%= javascript_include_tag 'modal_endorse' %>

</html>
