<%= form_with model: @user, local: true do |form| %>
 
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </p>
 
  <p>
    <%= form.label :password %><br>
    <%= form.text_area :password %>
  </p>
 
  <p>
    <%= form.label :usertype %><br>
    <%= form.select :usertype, [['Teen', '0'], ['Client', '1'],['Customer Service', '2'], ['Admin', '3']] %>
  </p>

  <p>
    <%= form.submit %>
  </p>
 
<% end %>