
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
 
<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>
 
<p>
  <strong>User Type:</strong>
  <%= @user.usertype ? "Client" : "Teen" %>
</p>

<h2>Profiles</h2>
<% if @user.usertype == 0 %>
<div class="Teen">You're A Teenager!
 <% @user.teenager do |teenager| %>
  <p>
    <strong>Commenter:</strong>
    <%= teenager.firstname %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= teenager.lastname %>
  </p>
<% end %>
</div>
<% elsif @user.usertype == 1 %>
 <div class="Client">You're A Client!</div>
<% end %>


<h2>Add some info:</h2>
<%= form_with(model:  @user, uri: users_path, local: true) do |form| %>
  <p>
    <%= form.label :firstname %><br>
    <%= form.text_field :firstname %>
  </p>
  <p>
    <%= form.label :lastname %><br>
    <%= form.text_area :lastname %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>


<%= link_to 'Addresses', user_addresses_path(@user) %>
<%= link_to 'My Jobs', jobs_path(:user => @user.id) %>
<%= link_to 'Edit', edit_user_path(@user) %> 
<%= link_to 'Back', users_path %>
