
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
 
<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>
 
<p>
  <strong>User Type:</strong>
  <% if @user.usertype == 0 %>Teen
  <% elsif @user.usertype == 1 %>Client
  <% end %>
</p>


<h2>Tell us what you think!</h2>
<%= form_with(model: @user, uri: users_path, local: true) do |form| %>
  <p>
    <%= form.label :comments %><br>
    <%= form.text_area :comments %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>


<%= link_to 'Addresses', user_addresses_path(@user) %><br />
<% if @user.usertype == 0 %>
  <%= link_to 'My Profile', user_teenager_path(@user, @user.teenager) %><br />
<% elsif @user.usertype == 1 %>  
  <%= link_to 'My Profile', user_client_path(@user, @user.client) %><br />
<% end %>
<%= link_to 'Payment Profile', user_payments_path(@user) %><br />
<%= link_to 'My Jobs', jobs_path(:user => @user.id) %><br />
<%= link_to 'Back', users_path %>
