<%= form_with(model: [@user, @rating], local: true) do |form| %>

  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@rating.errors.count, "error") %> prohibited
        this rating from being saved:
      </h2>
      <ul>
        <% @rating.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :rating %><br>
    <%= form.text_field :rating %>
  </p>

  <p>
    <%= form.label :review %><br>
    <%= form.text_area :review %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
  
 <% end %>