<h1> <%= @jobs.size %> <%= params[:q] %> jobs in your area</h1>

<table>
   <% @jobs.each do |job| %>
    <tr>
      <td><%= JobType.find(job.job_type_id).name %></td>
      <td><%= job.description %></td>      
      <td><%= job.starttime %></td>
      <td><%= job.finishtime %></td>
      <td> <% client = job.client %> </td>
      <td><%= link_to 'Apply', apply_jobs_path(apply_job: job), method: 'post' %> 
    </tr>
  <% end %>
</table>

<%= link_to "Homepage", root_path %>