<h1>Job Applications</h1>

<% @applications.each do |appl| %>
	<p>
	  <%= JobType.find(appl.job.job_type_id).name %>:<br />
	  Teenager name: <%= appl.teenager.firstname %> <%= appl.teenager.lastname %>    
	  <%= link_to 'Accept', new_accept_job_path(:apply_job => appl.id) %>
	  <!-- I passed params values through link_to -->
	</p>
<% end %>


<%= link_to 'Home', root_path %>   
