<p>This is a list of <%= {@job_name} %> jobs:</p>
<% @applications.each do |appl| %>
	<p><%= appl.job.name %>:<br />
	Teenager name: <%= appl.teenager.firstname appl.teenager.lastname%>    
	<%= link_to 'Apply', new_apply_job_path(:job_id => job.id, :client_id => job.client_id, :teenager_id => @teenager.id, :applied_at => Time.now) %>
		<!-- I passed params values through link_to -->
	</p>
<% end %>


<%= link_to 'Home', root_path %>   
