<head>
<%= stylesheet_link_tag 'forms' %>
</head>

<div class="box">

<%= form_with(model: @job, local: true) do |form| %>


  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@job.errors.count, "error") %> prohibited
        this job from being successfully created
      </h2>
      <ul>
        <% @job.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag "user", @user.id %>
  <div class="row">
  <p>
    <%= form.label :job_type_id %><br>
    <%= form.select :job_type_id, JobType.all.collect {|job_type| [ job_type.name, job_type.id ]} %>
  </p>
  </div>
  <div class="row">
  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </p>
  </div>
 <div class="row">
 <div class="col-half">
  <p>
    <%= form.label :hourly_rate %><br>
    $<%= form.number_field :hourly_rate, :class => 'text_field', :step => 0.01  %>
  </p>
 </div>
 <div class="col-half">
  <p>
    <%= form.label :hours %><br>
    <%= form.text_field :hours %>
  </p>
  </div>
 </div>
 <div class="row">
 <div class="col-half">
  <p>
    <%= form.label :starttime %><br>
    <%= form.datetime_local_field :starttime %>
  </p>
 </div>
 <div class="col-half">
  <p>
    <%= form.label :finishtime %><br>
    <%= form.datetime_local_field :finishtime %>
  </p>
  </div>
  </div>
  <p>
    <%= form.submit %>
  </p>
 <% end %>
 </div>
