<p>Viewing as: 
  <strong><%= current_user.username %></strong>
</p><br/>
<h1>Job Board</h1>

<table>
  <tr>
    <th colspan="1"></th>
  </tr>
   <% @jobs.each do |job| %>
    <tr>
      <td><%= job.name %></td>
      <td><%= job.description %></td>      
      <td><%= job.amount %></td>
      <td><%= job.hours %></td>
      <td><%= job.starttime %></td>
      <td><%= job.finishtime %></td>
      <td>Accepted By: <%= job.teenager_id %></td>
      <td>Offered By: <%= Client.find(job.client_id).user.username %></td>

      <% if current_user.usertype == 1 %> 
      <td><%= link_to 'Show', job_path(job, :user => current_user.id) %></td><br/>
      <td><%= link_to 'Recommended Teens', recommended_teens_path(job.id) %></td><br/>
      <% end %>
      <td><%= link_to 'Destroy', job_path(job),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
</table>

<% if current_user.usertype == 1 %> 
  <br/><td><%= link_to 'Create new job', new_job_path %></td><br/>
<% end %>

<% if current_user.usertype == 0 %> 
  <%= link_to 'Jobs for me', offered_jobs_path(current_user.id) %>
<% elsif current_user.usertype == 1 %>
  <%= link_to 'My Jobs list', clientjobs_path(current_user.id) %>
<% end %>
<br/><%= link_to 'Back', user_path(current_user) %>