<h1> <%= params[:query] %> jobs</h1>

<table>
   <% @jobs.each do |job| %>
    <tr>
      <td><%= job.name %></td>
      <td><%= job.description %></td>      
      <td><%= job.amount %></td>
      <td><%= job.hours %></td>
      <td><%= job.starttime %></td>
      <td><%= job.finishtime %></td>
      <td><%= link_to 'Apply', apply_jobs_path(apply_job: job), method: 'post' %> 
    </tr>
  <% end %>
</table>

<%= link_to "Homepage", root_path %>