<p>Viewing as:
  <strong><%= current_user.username %></strong>
</p>
<h1>Job ID: <strong><%= @job.id %></strong></h1>
<h3>Description: </h3>
<p>
  <strong><%= @job.description %></strong>
</p>


<table>
  <tr>
    <th colspan="1"></th>
  </tr>
    <tr>  
      <td><%= @job.hours %></td>
      <td><%= @job.starttime %></td>
      <td><%= @job.finishtime %></td>
      <td>Offered By: <%= Client.find(@job.client_id).user.username %></td>
      <td>Accepted By: <%= @job.teenager_id %></td>
    </tr>
    <br />
</table>
<%= link_to 'Back', jobs_path(:user => current_user.id) %>      

