<div class="modal fade" id="endorseModal"  data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-sm"  style="z-index: 1041">
    <% if @endorsement %>
    <%= form_for :endorsement, url: {controller: "endorsements", :id => @endorsement.id, :action => "update"}, method: "patch" do |form| %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><h2>Endorse a User:</h2></h4>
        </div>
        <div class="modal-body">
          <p>Endorsements are given for a <b>job skill</b> to someone whom you think they have exceptional talents for:</p>
			<div class="form-group">
        <%= form.label :'skill:' %>
        <% if @endorsement.removed != 1 %>
        <%= form.select :skill, [['lawn mowing', 'lawn mowing'], ['babysitting', 'babysitting'], ['yard work', 'yard work'],
['leaf raking', 'leaf raking'],
['weeding', 'weeding'],
['yard cleanup', 'yard cleanup'],
['snow shoveling', 'snow shoveling'],
['furniture moving', 'furniture moving'],
['simple cleaning tasks', 'simple cleaning tasks'],
['vacation services', 'vacation services'],
['mail pickup', 'mail pickup'],
['pet feeding', 'pet feeding'],
['lawn watering', 'lawn watering'],
['dog walking', 'dog walking'],
['computer help', 'computer help'],
['tutoring', 'tutoring'],
['reading', 'reading'], ['Remove Endorsement', 'remove']] %>
        <% else %>
        <%= form.select :skill, [['lawn mowing', 'lawn mowing'], ['babysitting', 'babysitting'], ['yard work', 'yard work'],
['leaf raking', 'leaf raking'],
['weeding', 'weeding'],
['yard cleanup', 'yard cleanup'],
['snow shoveling', 'snow shoveling'],
['furniture moving', 'furniture moving'],
['simple cleaning tasks', 'simple cleaning tasks'],
['vacation services', 'vacation services'],
['mail pickup', 'mail pickup'],
['pet feeding', 'pet feeding'],
['lawn watering', 'lawn watering'],
['dog walking', 'dog walking'],
['computer help', 'computer help'],
['tutoring', 'tutoring'],
['reading', 'reading']] %>
        <% end %>
			</div>
        </div>
        <div class="modal-footer">
          <%= form.submit "Update", :class => "btn btn-primary" %>
          
        </div>
      </div>
      <% end %>

      <% else %>
    <%= form_for(@new_endorsement, url: {controller: "endorsements", action: "create"}) do |form| %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><h2>Endorse a User:</h2></h4>
        </div>
        <div class="modal-body">
          <p>Endorsements are given for a <b>job skill</b> to someone whom you think they have exceptional talents for:</p>
      <div class="form-group">
        <%= form.label :'skill:' %>
        <%= form.select :skill, [['lawn mowing', 'lawn mowing'], ['babysitting', 'babysitting'], ['yard work', 'yard work'],
['leaf raking', 'leaf raking'],
['weeding', 'weeding'],
['yard cleanup', 'yard cleanup'],
['snow shoveling', 'snow shoveling'],
['furniture moving', 'furniture moving'],
['simple cleaning tasks', 'simple cleaning tasks'],
['vacation services', 'vacation services'],
['mail pickup', 'mail pickup'],
['pet feeding', 'pet feeding'],
['lawn watering', 'lawn watering'],
['dog walking', 'dog walking'],
['computer help', 'computer help'],
['tutoring', 'tutoring'],
['reading', 'reading']] %>
      </div>
        </div>
        <div class="modal-footer">
          <%= form.submit "Submit", :class => "btn btn-primary" %>
          
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

