- if @user.can_accept_charges? && @job_to_pay != nil
  .panel.panel-primary
    .panel-body
      = form_tag pay_user_path( @user ) do |f|
        .indicator
        = hidden_field_tag :token
        %button.pull-right.btn.btn-primary.btn-lg.pay-button Pay
        
        / %h3 Make a one-off charge
        / %input{:type => "integer", :name => "pay_amount", :class => "integer"}
        = hidden_field_tag :job_id, value: @job_to_pay.id
        %p
          Pay a one-time charge of $#{@job_to_pay.hours*@job_to_pay.hourly_rate} #{@user.currency.upcase}.
        %p
          %small Responsible for fees, refunds and chargebacks?
          %select{ name: 'charge_on' }
            %option{ value: 'platform' } Platform Account
            %option{ value: 'connected' } Connected Account
            

  .panel.panel-primary
    .panel-body
      = form_tag subscribe_user_path( @user ) do
        .indicator
        = hidden_field_tag :token
        = hidden_field_tag :plan
        %button.pull-right.btn.btn-primary.btn-lg.subscribe-button{ disabled: true } Subscribe

        %h3 Subscribe to a plan
        %p
          - if @plans.any?
            The application defines the following plans:
          - else
            The application has no plans.
            %a{ href: 'https://dashboard.stripe.com/test/plans', rel: 'platform-account', target: '_blank' } Add Plans &raquo;
        - if @plans.any?
          .list-group
            - @plans.each do |plan|
              %a.list-group-item.plan-choice{ data: plan.to_hash }
                = plan.name
                \-
                %strong
                  = number_to_currency( plan.amount / 100 )
                  = plan.currency.upcase
          %p
            %small Responsible for fees, refunds and chargebacks?
            %select{ name: 'charge_on', disabled: true }
              %option{ value: 'connected' } Connected Account
              - # charging on the platform is currently not
              - # supported for subscriptions
              - # %option{ value: 'platform' } Platform Account

- else
  .panel.panel-danger
    .panel-body
      %h3 There are no jobs for you to pay for this teenager

= javascript_include_tag 'https://checkout.stripe.com/checkout.js'
:javascript
  // You can select to pay either directly or via the platform, so
  // we need both publishable keys here.
  window.publishable = {
    platform: #{Rails.application.secrets.stripe_publishable_key.to_json},
    connected: #{@user.publishable_key.to_json}
  };
  window.currentUserEmail = #{@user.username.to_json};
  window.payPath = #{pay_user_path( @user).to_json};
