<p>
  <strong>Skill:</strong>
  <%= @skill.skill_type_id %>
</p>
<p>
  <strong>Description:</strong>
  <%= @skill.description %>
</p>
<p>
  <strong>Experience Time:</strong>
  <%= @skill.experience_time %>
</p>
<p>
  <strong>Experience Quantifier:</strong>
  <%= @skill.experience_quantifier %>
</p>
 
<%= link_to 'Back', teenager_skills_path %>