<div class="container">
	<div class="row">
		<section class="content">
			<h1>My Jobs</h1>
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="table-container">
							<table class="table table-filter">
								<tbody>
									<% if @jobs %>
 										<% @jobs.each do |job| %>
	 										<tr data-status="pending">
												<td>
													<div class="media">
														<div class="media-body">
															<span class="media-meta pull-right"> <%= job.created_at %></span>
															<h4 class="title">
																	<%= link_to(job_path(job)) do %>
																		Job Type: <%= job.job_type_id %>
																	<% end %>
																<span class="pull-right pending">(Pending)</span>
															</h4>
															<h5>Offered By: <%= job.teenager_id %></h5>
															<p>Start Time: <%= job.starttime %> Finish Time: <%= job.finishtime %> for a total of <%= job.hours %> hours </p>
															<p class="summary">Brief Summary:<%= job.description %></p>
														</div>
													</div>
												</td>
											</tr>	
  										<% end %>
  									<% end %>
									<tr data-status="accepted">
										<td>
											<div class="media">
												<div class="media-body">
													<span class="media-meta pull-right">Nov 23, 2017</span>
													<h4 class="title">
														Job...
														<span class="pull-right accepted">(Accepted)</span>
													</h4>
													<p class="summary">Job desc...</p>
												</div>
											</div>
										</td>
									</tr>






									<tr data-status="cancelled">
										<td>
											<div class="media">
												<div class="media-body">
													<span class="media-meta pull-right">Nov 23, 2017</span>
													<h4 class="title">
														Job...
														<span class="pull-right cancelled">(Cancelled)</span>
													</h4>
													<p class="summary">Job desc...</p>
												</div>
											</div>
										</td>
									</tr>
									<tr data-status="pending">
										<td>
											<div class="media">
												<div class="media-body">
													<span class="media-meta pull-right">Nov 23, 2017</span>
													<h4 class="title">
														Job...
														<span class="pull-right pending">(Pending)</span>
													</h4>
													<p class="summary">Job desc...</p>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-md-2 well">
				<span>
		            <button type="button" class="btn btn-default btn-filter" data-target="all">All</button>
		            <hr>
					<button type="button" class="btn btn-success btn-filter" data-target="accepted"> Accepted</button>
					<button type="button" class="btn btn-warning btn-filter" data-target="pending">Pending</button>
					<button type="button" class="btn btn-danger btn-filter" data-target="cancelled">Cancelled</button>
				</span>
			</div>


		</section>
	</div>
</div>