<%= form_with(model: [@teenager, @skill], local: true) do |form| %>
    <div>
    <%= form.label :'Skill:' %>
    </div>
    <%= form.select :skill_type_name, [['Lawnmowing', 0], ['Snow Shovelling', 1],['Babysitting', 2], ['DogWalking', 3]] %>
  
  <div>
    <%= form.label :'Experience:' %>
    </div>
    <%= form.select :experience_quantifier, [['Years', 'Years'], ['Months', 'Months'],['Weeks', 'Weeks']]%>
  
  <p>
    <%= form.label :'Experience Time:' %>
    <%= form.text_field :experience_time %>
  </p>
    <p>
    <%= form.label :'Description:' %>
    <%= form.text_field :description %>
  </p>
  <p>
  	<%= form.submit %>
  </p>
<% end %>