<h1>All Clients</h1>

<table>
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Gender Name</th>
		<th>Birthday</th>
		<th>Address</th>
		<th>Postal Code</th>
		<th>City</th>
		<th>Country</th>
	</tr>

	<% @clients.each do |client| %>
		<tr>
		  <td><%= client.fName %></td>
		  <td><%= client.lName %></td>
		  <td><%= client.gender %></td>
		  <td><%= client.birth_month %>/<%= client.birth_day %>/<%= client.birth_year %></td>
		  <td><%= client.address %></td>
		  <td><%= client.postal_code %></td>
		  <td><%= client.city %></td>
		  <td><%= client.country %></td>
		  <td><%= link_to 'Show', client_path(client) %></td>
		  <td><%= link_to 'Edit', edit_client_path(client) %></td>
		</tr>
	<% end %>
</table>
