<head>
<%= stylesheet_link_tag 'style1' %>
</head>

<div class = "box">
<h1>Your details:</h1>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
	Name: <%= @client.fName %> <%= @client.lName %>
</p>
<p>
	Gender: <%= @client.gender%>
</p>

<p>
	Birthday (mm/dd/yyyy): <%= @client.birth_month %>/<%= @client.birth_day %>/<%= @client.birth_year %>
</p>
<p>
	Address: <%= @client.address%>
</p>
<p>
	Apartment number: <%= @client.apt_no%>
</p>
<p>
	City: <%= @client.city%>
</p>
<p>
	Province: <%= @client.province%>
</p>
<p>
	Country: <%= @client.country%>
</p>
<p>
	Postal Code: <%= @client.postal_code%>
</p>
</div>


<p>
	<%= link_to 'Edit Profile', edit_user_client_path(@user.id, @client.id) %>
</p>
<p>
	<%= link_to 'Offer a New Job', new_job_path %>
</p>
<% if user_signed_in? %>

	<%= render :partial => "nav/usermenu" %>


<% else %>

	<%= render :partial => "nav/defaultmenu" %>

<% end %>