<%= form_with(model: [@user, @teenager], local: true) do |form| %>
  <% if @teenager.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@teenager.errors.count, "error") %> prohibited this article from being saved: </h2>
      <ul>
        <% @teenager.errors.full_messages.each do|msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  <p>
  <%= form.label :'UserID:' %>
    <%= form.text_field :user_id %>
  </p>
  <p>
    <%= form.label :'First Name:' %>
    <%= form.text_field :firstname %>
  </p>

  <p>
    <%= form.label :'Last Name:' %>
    <%= form.text_field :lastname %>
  </p>

  <p>
    <%= form.label :'Gender:' %>
    
    <input id="gender_male" name="gender" type="radio" value="Male" />
    <label for="gender_male">Male</label>
    <input id="gender_female" name="gender" type="radio" value="Female" />
    <label for="gender_female">Female</label>
  </p>

  <h3>Date of Birth</h3>
  <p>
    <%= form.label :'Month' %>
    <%= form.text_field :birth_month %>
    <%= form.label :'Day' %>
    <%= form.text_field :birth_day %>
    <%= form.label :'Year' %>
    <%= form.text_field :birth_year %>
  </p>

    <h3>Skills</h3>
      <%= check_box_tag(:babysitting) %>
      <%= label_tag(:babysitting, "Babysitting") %>
      <%= check_box_tag(:lawn_mowing) %>
      <%= label_tag(:lawn_mowing, "Lawn Mowing") %>
      <%= check_box_tag(:snow_shovelling) %>
      <%= label_tag(:snow_shovelling, "Snow Shovelling") %>
      <%= check_box_tag(:skill1) %>
      <%= label_tag(:skill1, "Skill1") %>
      <%= check_box_tag(:skill2) %>
      <%= label_tag(:skill2, "Skill2") %>
      <%= check_box_tag(:skill3) %>
      <%= label_tag(:skill3, "Skill3") %>

  <p>
    <%= form.submit %>
  </p>
<% end %>