<%= form_with scope: :teenager, url: teenagers_path, local: true do |form| %>
  <% if @teenager.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@teenager.errors.count, "error") %> prohibited this article from being saved: </h2>
      <ul>
        <% @teenager.errors.full_messages.each do|msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  <p>
  <%= form.label :'UserID:' %>
    <%= form.text_field :user_id %>
    <%= form.label :'First Name:' %>
    <%= form.text_field :first_name %>
  </p>

  <p>
    <%= form.label :'Last Name:' %>
    <%= form.text_field :last_name %>
  </p>

  <p>
    <%= form.label :'Gender:' %>
    <%= form.text_field :gender %>
  </p>

  <h3>Date of Birth</h3>
  <p>
    <%= form.label :'Month' %>
    <%= form.text_field :birth_month %>
    <%= form.label :'Day' %>
    <%= form.text_field :birth_day %>
    <%= form.label :'Year' %>
    <%= form.text_field :birth_year %>
  </p>

  <h3>Address</h3>
    <p>
    <%= form.label :'Address Line' %>
    <%= form.text_field :address %>
  </p>
  <p>
    <%= form.label :'Apt.No' %>
    <%= form.text_field :apt_no %>
  </p>
    <p>
    <%= form.label :'City' %>
    <%= form.text_field :city %>
  </p>
  <p>
    <%= form.label :'Province/State' %>
    <%= form.text_field :province %>
  </p>
  <p>
    <%= form.label :'Country' %>
    <%= form.text_field :country %>
  </p>
  <p>
    <%= form.label :'Postal Code' %>
    <%= form.text_field :postal_code %>
  </p>

    <h3>Skills</h3>
      <%= check_box_tag(:babysitting) %>
      <%= label_tag(:babysitting, "Babysitting") %>
      <%= check_box_tag(:lawn_mowing) %>
      <%= label_tag(:lawn_mowing, "Lawn Mowing") %>
      <%= check_box_tag(:snow_shovelling) %>
      <%= label_tag(:snow_shovelling, "Snow Shovelling") %>
      <%= check_box_tag(:skill1) %>
      <%= label_tag(:skill1, "Skill1") %>
      <%= check_box_tag(:skill2) %>
      <%= label_tag(:skill2, "Skill2") %>
      <%= check_box_tag(:skill3) %>
      <%= label_tag(:skill3, "Skill3") %>

  <p>
    <%= form.submit %>
  </p>
<% end %>