<h1>All Teenagers</h1>

<table>
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Gender Name</th>
		<th>Birth Year</th>
		<th>Address</th>
		<th>Postal Code</th>
		<th>City</th>
		<th>Country</th>
	</tr>

	<% @teenagers.each do |teenager| %>
		<tr>
		  <td><%= teenager.gender %></td>
		  <td><%= teenager.address %></td>
		  <td><%= teenager.postal_code %></td>
		  <td><%= teenager.city %></td>
		  <td><%= teenager.country %></td>
		  <td><%= link_to 'Show', teenager_path(teenager) %></td>
		  <td><%= link_to 'Edit', edit_teenager_path(teenager) %></td>
		</tr>
	<% end %>
</table>
