<p>
  <strong>Gender: </strong>
  <%= @teenager.gender %>
</p>
<p>
  <strong>Birthday(yyyy/mm/dd):</strong>
  <%= @teenager.birth_year%>/<%= @teenager.birth_month%>/<%= @teenager.birth_day%>
</p>
<p>
  <strong>Age:</strong>
  <%= 2017 - @teenager.birth_year.to_i%>
</p>

<p>
  <strong>Addresses:</strong>
  <%= link_to 'Addresses', user_addresses_path(@user) %><br />
</p>

<%= link_to 'Back to User', @user %>