<%= form_with(model: [@user, @endorsement], local: true) do |form| %>

  <% if @endorsement.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@endorsement.errors.count, "error") %> prohibited
        this endorsement from being saved:
      </h2>
      <ul>
        <% @endorsement.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>The first two fields are for testing purposes</p>

  <p>
    <%= form.label :ref_user_id %><br>
    <%= form.text_field :ref_user_id %>
  </p>
 
  <p>
    <%= form.label :end_user_id %><br>
    <%= form.text_field :end_user_id %>
  </p>
 
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
  
 <% end %>