<%= form_with(model: [@user, @transaction], local: true) do |form| %>

  <p>
    <%= form.label :'Teen ID:' %>
    <%= form.text_field :teenager_id %>
  </p>
    <p>
    <%= form.label :'Client ID:' %>
    <%= form.text_field :client_id %>
  </p>
      <p>
    <%= form.label :'Job ID:' %>
    <%= form.text_field :job_id %>
  </p>
  <p>
    <%= form.label :'Amount:' %>
    <%= form.number_field :amount %>
  </p>
  <p>
    <%= form.label :'Trans_Date:' %>
    <%= form.datetime_local_field :trans_date %>
  </p>
  <p>
    <%= form.label :'Status:' %>
    <%= form.text_field :status %>
  </p>
  <p>
  	<%= form.submit %>
  </p>
<% end %>
