<h1>Do you want to confirm that the teenager has completed the job?</h1>

<%= form_for(:finished_job, :url => {action: "create"}, local: true) do |form| %>
 
<ul>
  <li>Job type: <%= JobType.find(@job.job_type_id).name %></li>
  <li>Job description: <%= @job.description %></li>
  <li>Teenager name: <%= @teenager.firstname %> <%= @teenager.lastname %></li>
</ul>
    <%= form.hidden_field :finished_job_id, :value => params[:finished_job] %>
  
  <p>
    <%= form.submit "Confirm" %>
  </p>
<% end %>