<%= form_with(model: [@user, @address]) do |form| %>
 
  <p>
    <%= form.label :street_no %><br>
    <%= form.text_field :street_no %>
  </p>
 
  <p>
    <%= form.label :street %><br>
    <%= form.text_area :street %>
  </p>
 
  <p>
    <%= form.label :apt_no %><br>
    <%= form.text_field :apt_no %>
  </p>
 
  <p>
    <%= form.label :postalcode %><br>
    <%= form.text_field :postalcode %>
  </p>
 
  <p>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
  </p>
 
  <p>
    <%= form.label :province %><br>
    <%= form.text_field :province %>
  </p>
 
  <p>
    <%= form.label :address_type %><br>
    <%= form.select :address_type, [['Primary', 1], ['Secondary', 2]]%>
  </p>
  <p>
    <%= form.submit %>
  </p>
 <% end %>