<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- For MOBILE -->
<title>Profile</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<%= stylesheet_link_tag 'sidebar' %>
<%= stylesheet_link_tag 'forms' %>
</head>

<body>
 <% if user_signed_in? %>
<div class="box">
<h1> My Applied Jobs </h1>

<% if (@rewarded_jobs.length != 0) %>
   
   <h3> Rewarded Jobs </h3>

   <% @rewarded_jobs.each do |rewarded_job| %>
      <% job = Job.find(rewarded_job.job_id) %>
      <% client = Client.find(job.client_id) %>

      <h4><%= JobType.find(job.job_type_id).name %> Job for <%= client.fName %> <%= client.lName %></h4>
      <p><%= job.description %></p>
      <table>
        <tr>   
          <td>Hourly Rate: $<%= job.hourly_rate %> </td>
          <td>Job Duration: <%= job.hours %> hours</td>
          <td>Start Time: <%= job.starttime.to_formatted_s(:long) %></td>
          <td>End Time: <%= job.finishtime.to_formatted_s(:long) %></td>
          <td>Contact Info: <%= User.find(client.user_id).username %></td> 
        </tr>
      </table>
   <% end %>
<% end %>

<% if (@open_jobs.length != 0) %>
   
   <h3> Open Jobs </h3>

  <% @open_jobs.each do |open_job| %>
      <% job = Job.find(open_job.job_id) %>
      <% client = Client.find(job.client_id) %>

      <h4><%= JobType.find(job.job_type_id).name %> Job for <%= client.fName %> <%= client.lName %></h4>
      <p><%= job.description %></p>
      <table>
        <tr>   
          <td>Hourly Rate: $<%= job.hourly_rate %> </td>
          <td>Job Duration: <%= job.hours %> hours</td>
          <td>Start Time: <%= job.starttime.to_formatted_s(:long) %></td>
          <td>End Time: <%= job.finishtime.to_formatted_s(:long) %></td>
          <td>Contact Info: <%= User.find(client.user_id).username %></td> 
        </tr>
      </table>
   <% end %>
<% end %>
</div>
  <%= render :partial => "template/nav/usermenu" %>


<% else %>

  <%= render :partial => "template/nav/defaultmenu" %>

<% end %>

</body>
<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'bootstrap.min' %>
<%= javascript_include_tag 'sidebar' %>
</html>